:root {
  /* primary */
  --clr-green: hsl(75, 94%, 57%);

  /* neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-dark-grey: hsl(0, 0%, 12%);
  --clr-off-black: hsl(0, 0%, 8%);

  /* typography */
  --ff: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px of 16px = 62.5%  */
}

body {
  font-family: var(--ff);
  font-size: var(--fs-16);
  line-height: 1.2;
  min-height: 100vh;
  background-color: var(--clr-off-black);
}

main {
  min-height: 98vh;
  display: grid;
  place-content: center;
}

.container {
  max-width: 40rem;
  /* border: 1px solid var(--clr-white); */
  border-radius: 8px;
  background-color: var(--clr-dark-grey);
  padding: 3.2rem;
}

.card-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.8rem;
}

.card-header__avatar {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
}

.card-header__avatar img {
  display: block;
  width: 100%;
}

.card-header__info {
  display: flex;
  flex-direction: column;
}

.card-header__info .name {
  font-size: 2.4rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-white);
  margin-bottom: 0.4rem;
}

.card-header__info .location {
  font-size: 1.4rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-green);
  margin-bottom: 2.4rem;
}

.card-header__info .quote {
  font-size: 1.2rem;
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  margin-bottom: 2.4rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cta:link,
.cta:visited {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  border-radius: 6px;
  font-size: var(--fs-14);
  color: var(--clr-white);
  text-align: center;
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-grey);
}
.cta:hover,
.cta:active {
  background-color: var(--clr-green);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
